<a href="https://colab.research.google.com/github/ndb796/examples/blob/main/codes/python_basic_for_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### <b>1강 파이썬(Python) 온라인 개발 환경</b>

* <b>개발 환경</b>: 코딩, 디버깅, 배포 등 <b>프로그램을 개발하는 일련의 과정을 하나의 프로그램 안에서 수행</b>할 수 있도록 해주는 통합적인 환경
* 온라인 개발 환경은 <b>웹 브라우저</b>만 있으면 사용할 수 있다는 점에서 편리하게 사용할 수 있다.
  * 간단한 프로그램을 작성하여 테스트할 때 유용하다.
  * 프로그램 실행 결과를 저장할 때는 불편함이 있다.

#### <b>1) Google Colab</b>

* 구글(Google) 계정만 있다면 무료로 사용할 수 있는 개발 환경이다.
* <b>Google Colab 시작하기</b>: https://colab.research.google.com/
* [+코드] 버튼을 클릭하여 코드 셀을 추가하고, 파이썬 코드를 작성할 수 있다.
* [Shift + Enter]를 입력하여 현재 코드 셀의 파이썬 코드를 실행할 수 있다.

#### <b>2) Repl.it</b>

* 무료로 사용할 수 있는 온라인 개발 환경 중 하나다.
* <b>Repl.it 접속하기</b>: https://replit.com/
* 새로운 프로젝트를 생성하여 개발을 진행할 수 있다.
* Python GUI 개발 환경도 지원한다.

### <b>2강 파이썬(Python) 로컬 개발 환경</b>

* 본격적으로 머신러닝 개발을 진행하기 위하여 <b>로컬 개발 환경</b>을 구축하는 방법에 대하여 이해할 필요가 있다.
* 자신의 컴퓨터 환경에 맞게 파이썬 프로그래밍 언어를 설치해야 한다.

#### <b>1) 파이썬(Python) 설치</b>

* 파이썬이라는 프로그래밍 언어로 코딩을 하기 위해서는 파이썬을 설치해야 한다.
* 파이썬(Python) 다운로드 경로: https://www.python.org/downloads/
  * [Downloads] - [All releases] 페이지로 이동하여 구체적인 버전의 파이썬(Python)을 설치할 수 있다.
* 설치 이후에 정상적으로 설치가 완료되었는지 확인하기 위해 명령 프롬프트(CMD)에서 python을 사용해 보자.

<pre>
python example.py
</pre>

#### <b>2) Visual Studio Code 설치</b>

* Visual Studio Code는 파이썬을 포함한 다양한 프로그래밍 언어를 지원하며, 무료인 <b>개발 환경</b>이다.
* Visual Studio Code 다운로드 경로: https://code.visualstudio.com/
  * [Download for Windows] 버튼을 눌러 무료로 설치할 수 있다.

#### <b>3) Visual Studio Code에서 개발 시작하기</b>

* Visual Studio Code에서는 특정한 프로그래밍 언어를 이용해서 프로그램을 작성할 수 있다.
* Python 확장 프로그램(Extensions)을 사용하면, 보다 풍부한 기능을 이용할 수 있다.
* Visual Studio Code를 이용하여 코드를 작성해 보자.
  1. Visual Studio Code의 터미널(terminal)을 이용하여 python을 사용해 보자.
  2. Visual Studio Code에서 hello_world.py 파일을 생성하여 실행해 보자.

<pre>
print("Hello World")
</pre>

### <b>3강 파이썬(Python) 기본 입출력</b>

* 다양한 머신러닝 프로그램을 작성하기 위하여 <b>파이썬 문법</b>을 바르게 이해할 필요가 있다.
* 가장 먼저 Python은 두 가지 형식의 입출력 방식을 제공한다.
* <b>표준 입출력</b>
  * 프로그램이 기본적으로 사용하는 입력 장치(키보드)과 출력 장치(모니터)를 통해 컴퓨터와 대화를 주고 받는 방식이다.
  * 일반적으로 컴퓨터 프로그램을 작성할 때 사용한다.
* <b>파일 입출력</b>
  * 하드 디스크에 파일(file) 형태로 데이터를 저장하거나 읽는 방식이다.
  * 프로그램이 꺼진 뒤에도 데이터가 저장된다.
* 가장 먼저 표준 입출력(기본 입출력)에 대하여 이해할 필요가 있다.

#### <b>1) print()를 이용한 표준 출력</b>

* <b>print(값)</b>: 원하는 값을 출력할 수 있다.
* <b>print(값 1, 값 2, ...)</b>: 여러 개의 값을 공백을 기준으로 구분하여 출력할 수 있다.
  * <b>end 속성</b>: 마지막 문자열을 출력하고 출력할 문자 (초기 설정: 줄바꿈 문자)
  * <b>sep 속성</b>: 여러 변수를 출력할 때, 각 값을 구분하기 위한 문자 (초기 설정: 공백 문자)

In [ ]:
data = "Hello World"
print(data)

Hello World

In [ ]:
print("Hello Python!")
print("Welcome to the Deep Learning World!")

Hello Python!
Welcome to the Deep Learning World!

In [ ]:
data1 = 7
data2 = 5
data3 = 8
print(data1, data2, data3)
print(data1, data2, data3, sep=", ")
print(data1, data2, data3, end="[END]")

7 5 8
7, 5, 8
7 5 8[END]

* 파이썬에서는 f-string을 사용하면 원하는 형태에 맞게 간단히 문자열을 출력할 수 있다.

In [ ]:
score = 70
print(f"학생의 점수는 {score}점 입니다.")

학생의 점수는 70점 입니다.

#### <b>2) input()을 이용한 표준 입력</b>

* <b>input()</b>: 키보드(표준 입력장치)로부터 문자열을 입력 받는다.
* <b>input("문자열")</b>: 안내 메시지(문자열)을 출력하고, 키보드로부터 문자열을 입력 받는다.
* 사용자에게 입력받은 정보를 정수 형태로 처리하기 위하여 <b>int() 함수</b>를 함께 사용할 수 있다.
* 일반적으로 프로그램은 사용자의 입력에 따라서 적절한 결과를 뱉는 방식으로 동작한다.
  * 따라서 입력을 처리하기 위한 input() 함수는 매우 중요하다.

In [ ]:
data = input()
print(data)

Hello World
Hello World

In [ ]:
name = input("당신의 이름은? ")
print("입력된 값:", name)

당신의 이름은? 홍길동
입력된 값: 홍길동

In [ ]:
age = int(input("당신의 나이는? "))
print("당신의 나이:", age)
print("15년 뒤 당신의 나이:", age + 15)

당신의 나이는? 20
당신의 나이: 20
15년 뒤 당신의 나이: 35

### <b>4강 파이썬(Python) 수 자료형</b>

* Python은 다양한 수 데이터(정수, 실수 등)를 처리하기 위한 문법을 제공한다.
* 변수와 상수의 개념을 이해한 뒤에, 수 데이터를 처리해 보자.
* 기본적인 사칙 연산을 진행할 수 있다.

#### <b>1) 변수와 상수</b>

* <b>변수</b>: 어떠한 값을 담을 수 있는 그릇이다.
* 변수에 값을 넣을 때는 등호(=)를 사용한다.

In [ ]:
a = 12
b = 5
print(a + b)

17

* <b>변수</b>에 저장된 값을 변경할 수 있다.

In [ ]:
a = 12
b = 5
a = 19
print(a + b)

24

* <b>상수</b>: 특정한 수를 그대로 사용하면 그 자체로 상수가 된다.

In [ ]:
print(19 + 5)

24

#### <b>2) 정수 데이터</b>

* Python은 정수 데이터를 지원한다.
* 여러 개의 수에 대하여 연산을 수행할 수 있다.
* 양의 정수, 0, 음의 정수로 구성되며, 소수점 이하 값이 없다.
* Python은 컴퓨터의 메모리가 허용하는 한, 정수 데이터에 크기 제한이 없다.

In [ ]:
a = 7000
b = 7500
print(a + b)

x = 123456789123456789
print(x)

14500
123456789123456789

#### <b>3) 실수 데이터</b>

* 실수 데이터는 소수점 이하 값을 포함하는 데이터다.
* Python은 실수 데이터를 지원한다.
* 실수 데이터와 정수 데이터 사이에서 연산을 수행하는 경우, 데이터의 <b>형 변환(정수 → 실수)</b>이 일어난다.

In [ ]:
a = 2.5
b = 4
print(a + b)
print(a * b)

6.5
10.0

#### <b>4) 사칙연산</b>

* 파이썬은 프로그래밍 언어이기 때문에, 말 그대로 계산기 목적으로 사용할 수 있다.
* 사칙연산: +, -, *, /
* 몫 연산자: //
* 나머지 연산자: %
* 제곱 연산자: **

In [ ]:
a = 31
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(3 ** 3)

36
26
155
6.2
6
1
27

### <b>5강 파이썬(Python) 문자열 자료형</b>

* Python은 문자열 데이터를 표현하기 위한 문법을 제공한다.
* 파이썬에서 문자열을 사용할 때는 <b>작은따옴표</b>나 <b>큰따옴표</b>를 사용한다.

In [ ]:
a = "Hello"
b = 'Python'

print(a)
print(b)

Hello
Python

* 문자열끼리의 <b>덧셈</b>이 가능하다.
* 문자열끼리 덧셈을 수행하면, 단순히 <b>두 문자열이 연결</b>된다.

In [ ]:
a = "Hello"
b = "Python"

print(a + ", " + b)

Hello, Python

* 문자열 안에서 큰따옴표나 작은따옴표를 출력해야 한다면 이스케이핑을 사용할 수 있다.
    * 역 슬래시(\\) 기호를 이용할 수 있다.

In [ ]:
print("\"평범\"의 연속은 \"비범\"이다.")

"평범"의 연속은 "비범"이다.

* 일반적으로 많이 사용되는 <b>이스케이프(escape) 문자</b>로는 다음과 같은 것들이 있다.
  * <b>\\"</b>: 큰따옴표를 출력한다.
  * <b>\\'</b>: 작은따옴표를 출력한다.
  * <b>\\n</b>: 줄바꿈(new line) 문자를 출력한다.
  * <b>\\t</b>: 탭(tab) 문자를 출력한다.
  * <b>\\\\</b>: 백슬래시(backslash) 문자를 출력한다.

In [ ]:
print("철수: \"반갑습니다.\"")
print("영희: \'어떻게 인사할까?\'")
print("Hello World!\nHello Python!")
print("홍길동\t27세\tgildong@gmail.com\t프로그래머")
print("백슬래시 출력: \\")

철수: "반갑습니다."
영희: '어떻게 인사할까?'
Hello World!
Hello Python!
홍길동	27세	gildong@gmail.com	프로그래머
백슬래시 출력: \

* <b>문자열 인덱싱(indexing)</b>: 문자열에 포함된 특정한 하나의 문자를 얻을 수 있다.
    * 첫 번째 문자는 인덱스 0에 해당한다.

In [ ]:
a = "Hello"

print(a[0])
print(a[3])

H
l

* <b>문자열 슬라이싱(slicing)</b>: 부분 문자열(substring)을 얻기 위해 사용한다.
    * 슬라이싱은 두 개의 인덱스로 구성되는데, <b>변수명[시작 인덱스:끝 인덱스]</b>의 형태를 가진다.

In [ ]:
a = "Hello World"

prefix = a[:4] # 인덱스 3까지의 접두사 가져오기
print(prefix)
suffix = a[2:] # 인덱스 2부터의 접미사 가져오기
print(suffix)

Hell
llo World

In [ ]:
a = "Hello World"

print(a[7:10]) # 중간에 있는 부분 문자열 가져오기

orl

* 문자열 인덱싱을 할 때는 범위를 벗어나는 경우 오류가 발생하지만, 슬라이싱의 경우 부드럽게 처리된다.

In [ ]:
a = "I love you"

print(a[2:50])

love you

* 파이썬에서 문자열은 값을 변경할 수 없기 때문에, 불변(immutable) 객체라고도 한다.

In [ ]:
a = "Hello World"
# a[3] = 'b' # 오류 발생

### <b>6강 파이썬(Python) 리스트 자료형과 튜플 자료형</b>

* 프로그램을 작성할 때는 단순히 한두 개의 변수만 사용하는 것이 아니라, 매우 많은 양의 변수를 다루어야 할 수 있다.
  * 학생 관리 프로그램에서 처리해야 하는 학생의 수가 100만 명이라면?

#### <b>1) 리스트 자료형</b>

* 리스트는 대괄호 안에 원소들을 쉼표로 구분하여 넣을 수 있다.

In [ ]:
odds = [1, 3, 5, 7, 9]

print(odds)

[1, 3, 5, 7, 9]

* 일반적으로 리스트의 각 원소는 같은 자료형이도록 쓰지만, 서로 다른 자료형의 데이터가 들어갈 수 있다.

In [ ]:
data = ["Hello", 7, 0.5]

print(data)

['Hello', 7, 0.5]

* 리스트에 대해서 인덱싱과 슬라이싱을 사용할 수 있다.

In [ ]:
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(evens[3]) # 4번째 원소
print(evens[0:5]) # 1번째 원소부터 5번째 원소까지

8
[2, 4, 6, 8, 10]

* <b>리스트 덧셈</b>: 리스트끼리 더할 수 있는데, 이때는 단순히 두 리스트를 이어 붙인 결과가 반환된다.

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* <b>리스트 중첩</b>: 리스트는 다중(2중, 3중 등)으로 중첩하여 사용할 수 있다.

In [ ]:
arr = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15]
]

print(arr) # 리스트 전체 출력
print(arr[0][1]) # 1행 2열의 원소 출력
print(arr[2][2]) # 3행 3열의 원소 출력

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
2
13

* 문자열은 불변(immutable) 객체였지만, 리스트는 가변(mutable) 객체다.

In [ ]:
a = [5, 6, 7, 8, 9]

a[4] = 5
print(a)

a[0] = 1
print(a)

a[1:4] = [2, 3, 4] # 특정 구간을 한꺼번에 바꾸기
print(a)

[5, 6, 7, 8, 5]
[1, 6, 7, 8, 5]
[1, 2, 3, 4, 5]

* 리스트는 자주 사용되는 몇 가지 <b>메서드</b>를 제공한다.
  * <b>insert(삽입할 인덱스, 삽입할 원소)</b>: 리스트에 원소를 삽입한다.
  * <b>append(삽입할 원소)</b>: 리스트의 마지막 위치에 원소를 삽입한다.
  * <b>remove(삭제할 원소)</b>: 리스트에서 특정한 값을 가지는 원소를 삭제한다.
  * <b>sort()</b>: 리스트의 원소를 정렬한다.

In [ ]:
arr = [1, 3, 4] # 리스트 변수 초기화
print(arr)

arr.insert(1, 2) # 인덱스 1의 위치에 원소 2를 삽입
print(arr)

arr.append(5) # 마지막 위치에 5를 삽입
print(arr)

arr.remove(3) # 원소 3을 제거
print(arr)

arr.sort() # 오름차순 정렬
print(arr)

arr.sort(reverse=True) # 내림차순 정렬
print(arr)

[1, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 4, 5]
[1, 2, 4, 5]
[5, 4, 2, 1]

* 리스트는 <b>추가(append) 메서드</b>를 제공한다.

In [ ]:
arr = []

for x in range(10):
    arr.append(x)

print(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* 리스트의 <b>추가(append) 메서드</b>를 이용해 2차원 리스트를 생성할 수 있다.

In [ ]:
arr = []

row1 = [1, 2, 3, 4, 5]
arr.append(row1)
print(arr)

row2 = [6, 7, 8, 9, 10]
arr.append(row2)
print(arr)

# arr는 row1과 row2의 주소 값을 저장
row2[0] = 7
print(arr)

[[1, 2, 3, 4, 5]]
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
[[1, 2, 3, 4, 5], [7, 7, 8, 9, 10]]

* 파이썬에서 2차원 이상의 리스트를 초기화할 때는 <b>리스트 컴프리헨션(list comprehension)</b>을 사용한다.

In [ ]:
# 원소를 8개 포함하는 1차원 리스트 초기화
arr = [5] * 8
print(arr)

# 4 X 5 크기를 갖는 2차원 리스트 초기화
arr = [[0] * 5 for _ in range(4)]
print(arr)

# 4 X 5 크기를 갖는 2차원 리스트 초기화
arr = [[i] * 5 for i in range(4)]
print(arr)

# 4 X 5 크기를 갖는 2차원 리스트 초기화
arr = [[(i * 5) + j for j in range(5)] for i in range(4)]
print(arr)

[5, 5, 5, 5, 5, 5, 5, 5]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2], [3, 3, 3, 3, 3]]
[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14], [15, 16, 17, 18, 19]]

#### <b>2) 튜플 자료형</b>

* 튜플(tuple) 자료형은 리스트와 유사하지만, 그 특징이 조금씩 다르다.
  * 리스트는 <b>대괄호 []</b>를 이용하지만, 튜플은 <b>소괄호 ()</b>을 사용한다.
  * 리스트는 값을 변경할 수 있지만, 튜플은 값을 변경할 수 없다.
* 값이 변경되면 안 되는 경우, 튜플을 사용하면 효과적이다.
* 관행적으로, 각 데이터의 성질이 다를 수 있을 때 일반적으로 튜플을 사용한다.
  * 최단 경로 알고리즘에서 (비용, 노드 번호) 형태로 데이터를 묶어 사용하곤 한다.

In [ ]:
# 튜플은 리스트와 사용 방법이 유사하다.
a = (1, 2, 3, 4, 5)
print(a)
print(a[:3])
print(a * 2)

b = (6, 7, 8, 9, 10)
print(a + b) # 두 튜플(tuple)을 더한 값 출력

(1, 2, 3, 4, 5)
(1, 2, 3)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### <b>7강 파이썬(Python) 사전 자료형과 집합 자료형</b>

* 특정한 원소의 존재 여부를 빠르게 확인하고 추가/삭제할 수 있다.

#### <b>1) 사전(Dictionary) 자료형</b>

* 데이터를 <b>키(key)와 값(value) 쌍의 형태</b>로 저장할 때 사용할 수 있다.
* 다음과 같은 형태로 사전 자료형에 데이터를 기록할 수 있다.

<pre>
사전 데이터[키] = 값
</pre>

In [ ]:
arr1 = ["컴퓨터", "키보드", "모니터"]
arr2 = ["computer", "keyboard", "monitor"]

data = {}
for i in range(3):
    data[arr1[i]] = arr2[i]
print(data)

{'컴퓨터': 'computer', '키보드': 'keyboard', '모니터': 'monitor'}

* 모든 키(key)를 하나씩 확인할 때는 <b>keys() 메서드</b>를 사용할 수 있다.

In [ ]:
data = {}
data['apple'] = "사과"
data["banana"] = "바나나"
data["carrot"] = "당근"

for key in data.keys():
    print("key:", key, ", value:", data[key])

key: apple , value: 사과
key: banana , value: 바나나
key: carrot , value: 당근

* 사전 자료형은 특정한 데이터의 등장 횟수를 셀 때 효과적으로 사용할 수 있다.

In [ ]:
data = [1, 3, 3, 5, 4, 3, 1, 4]
counter = {}

for x in data:
    if x not in counter:
        counter[x] = 1
    else:
        counter[x] += 1
print(counter)

{1: 2, 3: 3, 5: 1, 4: 2}

#### <b>2) 집합(Set) 자료형</b>

* 데이터의 중복을 허용하지 않고, 순서가 상관없을 때 사용하는 자료형이다.
* 특정한 데이터가 등장한 적 있는지 체크할 때 효과적으로 사용된다.
* 데이터를 삽입할 때는 <b>add() 메서드</b>를 사용한다.

In [ ]:
data = [1, 3, 3, 5, 4, 3, 1, 4]
visited = set()

for x in data:
    if x not in visited:
        visited.add(x)
    else:
        print("중복 원소 발견:", x)

print("고유한 원소들:", visited)

중복 원소 발견: 3
중복 원소 발견: 3
중복 원소 발견: 1
중복 원소 발견: 4
고유한 원소들: {1, 3, 4, 5}

* 집합 자료형은 <b>remove() 메서드</b>를 사용하여 원소를 제거할 수 있다.
* 집합 자료형 <b>list() 함수</b>를 이용하여 리스트로 변경할 수 있다.

In [ ]:
data = {5, 6, 7, 8, 9}
print(data)

data.remove(7)
print(data)

arr = list(data)
print(arr)

{5, 6, 7, 8, 9}
{5, 6, 8, 9}
[5, 6, 8, 9]

* 집합 자료형은 다양한 연산자를 제공한다.
  * <b>합집합</b> 연산자: |
  * <b>교집합</b> 연산자: &
  * <b>차집합</b> 연산자: -

In [ ]:
data1 = {3, 4, 5, 6, 7}
data2 = {6, 7, 8, 9, 10}

data = data1 | data2 # 합집합
print(data)

data = data1 & data2 # 교집합
print(data)

data = data1 - data2 # 차집합
print(data)

{3, 4, 5, 6, 7, 8, 9, 10}
{6, 7}
{3, 4, 5}

### <b>8강 파이썬(Python) 참/거짓 자료형</b>

* 일반적인 프로그램에서는 <b>불(bool) 자료형</b>을 많이 사용한다.
* 불(bool) 자료형은 <b>참(true)</b>과 <b>거짓(false)</b>을 표현하기 위해 사용한다.
  * <b>참(True)</b>: 경우에 따라서 1로 표현하기도 한다.
  * <b>거짓(False)</b>: 경우에 따라서 0로 표현하기도 한다.

In [ ]:
a = True
b = False

print(a)
print(b)

True
False

* 파이썬(python) 자료형은 참과 거짓이 나누어진다.
  * <b>거짓(False)</b>: 0, 비어있는 리스트/튜플/사전, None 등
  * <b>참(True)</b>: 이외에 실제 의미 있는 값들
* 실제 예시에 따라서 참(True)과 거짓(False)을 구분하면 다음과 같다.
  * 7 → 참(True)
  * 1 → 참(True)
  * 0 → 거짓(False)
  * "Hello World" → 참(True)
  * "" → 거짓(False)
  * [1, 2, 3] → 참(True)
  * [] → 거짓(False)
  * () → 거짓(False)

In [ ]:
print(bool(7))
print(bool(1))
print(bool(0))
print(bool("Hello World"))
print(bool(""))
print(bool([1, 2, 3]))
print(bool([]))
print(bool(()))

True
True
False
True
False
True
False
False

* 프로그램을 작성할 때, <b>불(bool) 자료형</b>은 조건문에서 사용된다.

In [ ]:
if 7:
    print("참(True)")
else:
    print("거짓(False)")

참(True)

* 비교 연산자를 사용하면, 그 결과가 참(True) 혹은 거짓(False)으로 반환된다.

In [ ]:
print(5 < 7) # 5가 7보다 작으므로 참(True)
print(8 < 1) # 8이 1보다 작지 않으므로, 거짓(False)
print(3 == 3) # 3이 3과 같으므로, 참(True)
print(3 != 3) # 3이 3과 같지 않으므로, 거짓(False)
print(3 <= 3) # 3이 3보다 작거나 같으므로, 참(True)

True
False
True
False
True

* 논리 연산자를 사용하면, <b>불(bool) 자료형</b>에 대한 연산이 가능하다.
  * <b>x or y</b>: x와 y 중에 하나라도 참일 때 참(True), 아니면 거짓(False)
  * <b>x and y</b>: x와 y가 모두 참일 때 참(True), 아니면 거짓(False)
  * <b>not x</b>: x가 참일 때 거짓(False), 거짓이면 참(True)
  * <b>x in arr</b>: x가 arr 안에 포함될 때 참(True), 아니면 거짓(False)
  * <b>x not in arr</b>: x가 arr 안에 포함되지 않을 때 참(True), 아니면 거짓(False)

In [ ]:
a = True
b = False

print(a or b)
print(a and b)
print(not b)
print(7 in [3, 5, 7])
print(8 not in [2, 4, 6, 8])

True
False
True
True
False

### <b>9강 파이썬(Python) 조건문</b>

* 머신러닝 프로그램을 작성할 때 조건에 따라서 데이터를 처리해야 하는 경우가 많다.
  * 예를 들어 이미지 해상도가 <b>128px 미만인 경우</b> 학습에 사용하지 않으려면 어떻게 해야 될까?
* Python에서는 <b>프로그램을 제어하기 위한 문법</b>으로 조건문과 반복문을 제공한다.
* 이때, 조건문은 프로그램 실행의 흐름을 제어한다.

<pre>
if 조건식:
    # 참인 경우 실행할 코드
else:
    # 거짓인 경우 실행할 코드
</pre>

In [ ]:
resolution = 256

if resolution < 128:
    print("해상도가 너무 작습니다.")
else:
    print("충분히 큰 해상도입니다.")
    print("입력한 해상도는", resolution, "입니다.")

충분히 큰 해상도입니다.
입력한 해상도는 256 입니다.

* 조건문은 <b>if 구문</b>을 이용해 작성한다.
    * 조건문 내부에 대하여 띄어쓰기를 4번 사용한다.
    * 어떠한 값이 다른 값과 동일한지 구할 때는 등호를 2번 사용해 "=="라고 쓴다.

In [ ]:
x = int(input())
y = int(input())

if y == 0:
    print('0으로 나눌 수 없습니다.')
else:
    print(x / y)

5
2
2.5

* if에 해당하지 않는다면 elif가 수행되고, 위쪽에 있는 모든 조건문에 해당하지 않을 때 else 구문이 실행된다.
    * 전체 형태는 if ~ elif ~ else 형태로 사용된다.
    * 이때 elif나 else는 옵션으로, 없어도 되는 키워드이다.

In [ ]:
score = 90

if score >= 94: # 94점부터 100점
    print('1등급입니다.')
elif score >= 87: # 93점부터 87점
    print('2등급입니다.')
elif score >= 81: # 86점부터 81점
    print('3등급입니다.')
else:
    print('3등급 미만입니다.')

2등급입니다.

* 나이에 따라서 입장료는 다음과 같다고 해보자.
* 1세 이상 ~ 8세 미만: 3,000원
* 8세 이상 ~ 19세 미만: 7,000원
* 19세 이상 ~ 60세 미만: 12,000원
* 60세 이상: 0원

In [ ]:
age = 25

if age >= 1 and age < 8:
    print("입장료는", 3000, "원입니다.")
elif age >= 8 and age < 19:
    print("입장료는", 7000, "원입니다.")
elif age >= 19 and age < 60:
    print("입장료는", 12000, "원입니다.")
elif age >= 60:
    print("입장료는", 0, "원입니다.")

입장료는 12000 원입니다.

### <b>10강 파이썬(Python) 반복문</b>

* 프로그램에서 반복적인 작업을 수행해야 할 때, 반복문을 사용한다.
* 머신러닝 프로그램을 작성할 때 반복적으로 동일한 작업을 수행해야 하는 경우가 많다.
  * 학습할 이미지 100만 개에 대하여, 동일한 데이터 증진(augmentation) 기법을 적용해야 한다면?
* 파이썬에서는 <b>for 문법</b>을 사용한다.
  * 아래 코드에서는 시퀀스 데이터에 포함된 각 원소를 하나씩 방문하여 처리한다.

<pre>
for 원소 in 시퀀스 데이터:
    원소를 처리하는 코드
</pre>

In [ ]:
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(x)

1
2
3
4
5
6
7
8
9

* <b>for 문법</b>은 어떠한 시퀀스의 원소에 차례대로 접근한다는 점에서 <b>range()</b>와 함께 사용할 수 있다.
    * range(start, end) 형태가 가장 많이 사용된다.
* for문과 range() 함수를 배웠기 때문에, 다양한 프로그램을 작성할 수 있다.
* 1부터 50까지의 수를 더한 값을 계산해 보자.

In [ ]:
result = 0
for i in range(1, 51): # 1부터 50까지 방문
    result += i

print(result)

1275

* 1부터 50까지의 수 중에서 10의 배수만 더하는 프로그램을 작성할 수 있다.

In [ ]:
result = 0
for i in range(1, 51):
    if i % 10 == 0:
        result += i

print(result)

150

* enumerate() 함수를 사용하면 인덱스와 함께 반복할 수 있다.

In [ ]:
name_list = ['홍길동', '이순신', '장보고']

for i, element in enumerate(name_list):
    print(i, element)

0 홍길동
1 이순신
2 장보고

* 반복문을 중첩해서 사용할 수도 있다.
    * 구구단 예제를 확인해 보자.

In [ ]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i * j)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

* <b>369 게임</b> 시뮬레이션 코드를 작성하고자 한다.
* 1부터 100까지의 수에 대하여 <b>박수를 치는 총 횟수</b>를 구할 수 있다.

In [ ]:
cnt = 0
for i in range(1, 101):
    tens = i // 10 # 십의 자리
    units = i % 10 # 일의 자리
    if tens in [3, 6, 9]:
        cnt += 1
    if units in [3, 6, 9]:
        cnt += 1
print(cnt)

60

* 1부터 N까지의 수 중에서 소수를 찾는 프로그램을 작성할 수 있다.
    * 소수가 아닌 경우, 어떤 수의 배수인지 출력한 뒤에 해당 수에 대한 반복문을 탈출한다.
    * break 구문은 해당 break 구문을 포함하는 반복문을 탈출한다.

In [ ]:
n = 10
for x in range(2, n + 1):
    prime_number = True
    for y in range(2, x):
        if x % y == 0: # 나누어 떨어지는 수가 있다면
            print(x, "=", y, "*", x // y)
            prime_number = False
            break # 반복문 탈출
    if prime_number:
        print(x, "은(는) 소수입니다.")

2 은(는) 소수입니다.
3 은(는) 소수입니다.
4 = 2 * 2
5 은(는) 소수입니다.
6 = 2 * 3
7 은(는) 소수입니다.
8 = 2 * 4
9 = 3 * 3
10 = 2 * 5

### <b>11강 파이썬(Python) 파일 입출력</b>

* 일반적으로 <b>표준 입출력</b>을 사용하는 프로그램은 키보드(입력 장치)로부터 입력을 받아 모니터(출력 장치)로 결과를 내보낸다.
* 프로그램이 종료된 이후에도 데이터를 저장하기 위해서 <b>파일 입출력</b>을 사용할 수 있다.
* 파일 객체를 만들 때는 <b>open()</b>, 파일 객체를 닫을 때는 <b>close()</b> 함수를 사용한다.

<pre>
f = open("example.txt", "w")
f.close()
</pre>

* 파이썬에서는 여러 가지 파일 모드(mode)를 제공한다.
  * r: <b>읽기(read)</b> 모드(파일 읽기)
  * w: <b>쓰기(write)</b> 모드(파일에 내용을 쓰기)
  * a: <b>추가(append)</b> 모드(파일의 마지막에 새로운 내용 추가)

#### <b>1) 파일 출력</b>

* 파일에 데이터를 쓸 때는 <b>write() 함수</b>를 사용할 수 있다.
* 줄바꿈 기호(\n)을 사용하여, 줄을 변경할 수 있다.
* 여러 줄에 걸쳐서 파일에 데이터를 작성할 수 있다.

In [ ]:
f = open("result.txt", "w")
for line in range(1, 6):
    data = f"{line}번째 줄\n"
    f.write(data)
f.close()

#### <b>2) 파일 읽기</b>

* <b>readline() 함수</b>를 이용하면 파일의 데이터를 한 줄씩 읽을 수 있다.
* 각 줄을 출력할 때 줄의 마지막에 줄바꿈 기호(\n)도 함께 포함된다.
  * strip() 함수를 사용하지 않으면, 두 줄씩 줄바꿈이 수행된다.

In [ ]:
f = open("data.txt", "r")
while True:
    line = f.readline()
    if not line: # 더 읽을 문장이 없다면
        break
    else:
        print(line.strip())
f.close()

안녕하세요.
파이썬 강의입니다.
잘 부탁드립니다.

* 파일의 모든 줄을 한꺼번에 읽을 때는 <b>readlines() 함수</b>를 사용할 수 있다.
* readlines() 함수는 기본적으로 각 줄을 그대로 읽기 때문에 줄바꿈 기호(\n)가 포함된다.
* 줄바꿈 기호를 제거하기 위해 <b>strip()</b>을 사용할 수 있다.
  * strip() 함수를 사용하지 않으면, 두 줄씩 줄바꿈이 수행된다.

In [ ]:
f = open("data.txt", "r")
lines = f.readlines()
for i in range(len(lines)):
    line = lines[i].strip()
    print(f"{i}번째 줄의 내용: {line}")
f.close()

0번째 줄의 내용: 안녕하세요.
1번째 줄의 내용: 파이썬 강의입니다.
2번째 줄의 내용: 잘 부탁드립니다.

* <b>read() 함수</b>를 사용하면 파일의 전체 내용을 하나의 문자열로 반환한다.

In [ ]:
f = open("data.txt", "r")
data = f.read()
print(data)
f.close()

안녕하세요.
파이썬 강의입니다.
잘 부탁드립니다.

#### <b>3) 파일 객체 자동으로 열고 닫기</b>

* 다음의 문법을 활용하여 파일 객체를 자동으로 열고 닫을 수 있다.
* <b>open() 함수</b>와 <b>close() 함수</b>의 기능이 함께 사용된다.
* 다음과 같은 형식을 따른다.

<pre>
with open(파일 이름, 파일 열기 모드) as f:
    파일 객체 f를 이용하는 코드
</pre>

In [ ]:
file_name = "output.txt"
with open(file_name, "w") as f:
    f.write("Hello World")

### <b>12강 파이썬(Python) 함수의 이해와 활용</b>

* 전체 소스코드를 기능별로 분리하여 작성하는 것이 효율적이다.
* <b>함수</b>를 이용해 소스 코드를 기능별로 분리할 수 있다.
    * 각 부품(함수)이 서로 조화를 이루어 하나의 완성된 프로그램을 만들 수 있다.
* 함수는 <b>def 구문</b>을 이용하여 작성할 수 있다.
* 세 개의 수를 입력받아 더한 결과를 반환하는 함수를 작성해 보자.

In [ ]:
def add(a, b, c):
    result = a + b + c
    return result

print(add(3, 5, 7))

15

In [ ]:
def add(a, b, c):
    result = a + b + c
    return result

print(add(3, 5, 7))
print(add(5, 5, 2))
print(add(100, 200, 300))

15
12
600

* 리스트 내 원소 중에서 가장 큰 값의 인덱스(위치)를 찾아서 반환하는 함수를 작성해 보자.

In [ ]:
def find_max_index(arr):
    max_index = 0
    for i in range(len(arr)):
        if arr[max_index] < arr[i]: # 더 큰 값을 찾은 경우
            max_index = i
    return max_index

data = [7, 1, 5, 9, 3, 2, 4]
max_index = find_max_index(data)
print(max_index)

3

* 특정한 값을 가지는 원소의 인덱스를 찾는 함수를 작성해 보자.

In [ ]:
def find_certain_value(arr, value):
    for i, x in enumerate(arr):
        if x == value:
            return i
    return -1 # 찾지 못한 경우 -1을 반환

print(find_certain_value([3, 5, 7, 9], 2))
print(find_certain_value([3, 5, 7, 9], 7))

-1
2

* 하나의 자연수가 주어졌을 때, 소수인지 아닌지 판별하는 함수를 작성해 보자.

In [ ]:
def is_prime_number(x):
    # 1이하인 경우 소수가 아님
    if x <= 1:
        return False
    # 1과 자기 자신 외의 자연수로 나누어 떨어지는 경우 소수가 아님
    for divisor in range(2, x):
        if x % divisor == 0:
            return False
    return True

print(is_prime_number(1))
print(is_prime_number(2))
print(is_prime_number(5))
print(is_prime_number(7))
print(is_prime_number(9))
print(is_prime_number(12))
print(is_prime_number(17))

False
True
True
True
False
False
True

### <b>13강 파이썬(Python) 클래스의 이해와 활용</b>

* 클래스는 머신러닝 프로그램을 작성할 때 자주 사용된다.
  * <b>클래스</b>: 붕어빵 틀에 비유할 수 있다.
  * <b>인스턴스</b>: 붕어빵 틀에서 생성된 붕어빵에 비유할 수 있다.
* 간단히 사람(human)에 대한 정보를 담는 사람 클래스를 정의해 보자.
* 프로그램 내에서 <b>두 명의 사람</b>을 처리한다면?
  * 각 사람은 나이(age)가 다를 수 있다.
* 일단 아래의 코드를 확인하고, 클래스의 기본적인 사용 방법을 이해해 보자.

In [ ]:
class Human:
    def __init__(self):
        self.age = 0

    def old(self):
        self.age += 1

human1 = Human() # 사람 인스턴스 생성
human2 = Human() # 사람 인스턴스 생성

for i in range(10): # 10세
    human1.old()
for i in range(20): # 20세
    human2.old()

# 각 사람의 나이 출력
print(human1.age)
print(human2.age)

10
20

* 클래스(class)는 여러 정보를 하나의 객체에 담을 때 사용할 수 있다.
* 학생 관리 프로그램을 만들 때, 학생에 대한 정보는 다양하다.
  * ① 학번, ② 이름, ③ 나이, ④ 성별, ⑤ 학과
* 학생 <b>인스턴스</b>를 생성함과 동시에 정보를 초기화할 수 있다.
  * <b>생성자</b>: 인스턴스가 생성될 때 자동으로 실행되는 __init__() 메서드를 의미한다.
* <b>self</b>는 인스턴스(instance) <b>자기 자신</b>을 의미한다.
* 해당 인스턴스가 가지는 값과 함수의 인자 값을 구분하여 이해해야 한다.
* <b>__init__() 함수</b> 내부를 고려해 보자.
  * <b>self.name</b>: 현재 인스턴스의 name 변수
  * <b>name</b>: 함수의 파라미터로 넘어 온 name 변수

In [ ]:
class Student:
    def __init__(self, id, name, age, gender, department):
        self.id = id
        self.name = name
        self.age = age
        self.gender = gender
        self.department = department

    def show(self):
        print("===== 학생 정보 =====")
        print(f"학번: {self.id}")
        print(f"이름: {self.name}")
        print(f"나이: {self.age}")
        print(f"성별: {self.gender}")
        print(f"학과: {self.department}")

    def add_age(self, offset):
        self.age += offset


student1 = Student("20200001", "홍길동", 20, "남성", "컴퓨터공학과")
student2 = Student("20200002", "김순자", 21, "여성", "산업디자인공학과")
student3 = Student("20200003", "임꺽정", 23, "남성", "환경공학과")

student1.show()
student2.show()
student3.show()

===== 학생 정보 =====
학번: 20200001
이름: 홍길동
나이: 20
성별: 남성
학과: 컴퓨터공학과
===== 학생 정보 =====
학번: 20200002
이름: 김순자
나이: 21
성별: 여성
학과: 산업디자인공학과
===== 학생 정보 =====
학번: 20200003
이름: 임꺽정
나이: 23
성별: 남성
학과: 환경공학과

* <b>self</b>의 동작 방식에 대하여 바르게 이해할 필요가 있다.
* 우리는 아래와 같이 클래스의 메서드를 호출한다.
* 클래스의 <b>메서드 호출</b>

<pre>
student1.add_age(5)
</pre>

* 이때 student1 → self에 대응되고, 값 5 → offset에 대응된다.
* 클래스 <b>메서드 구현</b>

<pre>
def add_age(self, offset):
    self.age += offset
</pre>

In [ ]:
student1.add_age(5)
student1.show()

===== 학생 정보 =====
학번: 20200001
이름: 홍길동
나이: 25
성별: 남성
학과: 컴퓨터공학과

* 각 인스턴스의 인스턴스 변수는 서로 다르다.
* 특정한 클래스(class)의 <b>모든 인스턴스끼리 공유되는 정보</b>가 필요하다면?
* <b>클래스 변수</b>: 해당 클래스에서 전체적으로 공유되는 변수
  * Client의 클래스 변수는 Client 클래스의 네임스페이스에 존재한다.
* <b>인스턴스 변수</b>: 구체적인 하나의 인스턴스에서 사용되는 변수
  * client1의 인스턴스 변수는 client1 인스턴스의 네임스페이스에 존재한다.

In [ ]:
class Client:
    client_cnt = 0

    def __init__(self, id, name, age, gender, point):
        self.id = id
        self.name = name
        self.age = age
        self.gender = gender
        self.point = point
        Client.client_cnt += 1

    def show(self):
        print("===== 고객 정보 =====")
        print(f"고객 번호: {self.id}")
        print(f"이름: {self.name}")
        print(f"나이: {self.age}")
        print(f"성별: {self.gender}")
        print(f"고객 점수: {self.point}")
        print(f"현재 총 고객 수: {Client.client_cnt}")
        
    def __del__(self):
        Client.client_cnt -= 1

client1 = Client(1, "홍길동", 20, "남성", 1200)
client2 = Client(2, "김순자", 21, "여성", 300)
client3 = Client(3, "임꺽정", 23, "남성", 700)

client1.show()
client2.show()
client3.show()
print(f"[결과] 현재 총 고객 수: {Client.client_cnt}")

===== 고객 정보 =====
고객 번호: 1
이름: 홍길동
나이: 20
성별: 남성
고객 점수: 1200
현재 총 고객 수: 3
===== 고객 정보 =====
고객 번호: 2
이름: 김순자
나이: 21
성별: 여성
고객 점수: 300
현재 총 고객 수: 3
===== 고객 정보 =====
고객 번호: 3
이름: 임꺽정
나이: 23
성별: 남성
고객 점수: 700
현재 총 고객 수: 3
[결과] 현재 총 고객 수: 3

* 특정한 기준에 따라서 <b>다수의 인스턴스를 정렬</b>하고 싶을 때가 있다.
* 예를 들어 포인트 값이 큰 순서대로 정렬하려면 어떻게 하면 될까?
* 간단히 다음과 같이 <b>key 속성</b>의 값으로 익명 함수를 넣을 수 있다.
  * 이후에 뒤집기(reverse)를 수행하면, point에 대하여 <b>내림차순 정렬</b>이 완료된다.

<pre>
key=lambda x: x.point
</pre>

* 또한 <b>lt 함수</b>는 A가 B보다 작다는 의미를 정의할 때 사용한다. (less than)
  * <b>lt 함수</b>를 이용하여 정렬 기능을 구현할 수 있으며, 예시는 다음과 같다.
  * 이후에 단순히 리스트에 대하여 <b>sort() 함수</b>를 적용하면, 정렬이 완료된다.

<pre>
def __lt__(self, other):
         return self.point < other.point
</pre>

In [ ]:
class Client:
    def __init__(self, id, name, age, gender, point):
        self.id = id
        self.name = name
        self.age = age
        self.gender = gender
        self.point = point

    def show(self):
        print("===== 고객 정보 =====")
        print(f"고객 번호: {self.id}")
        print(f"이름: {self.name}")
        print(f"나이: {self.age}")
        print(f"성별: {self.gender}")
        print(f"고객 점수: {self.point}")

    def __lt__(self, other):
         return self.point < other.point

client1 = Client(1, "홍길동", 20, "남성", 1200)
client2 = Client(2, "김순자", 21, "여성", 300)
client3 = Client(3, "임꺽정", 23, "남성", 700)
client1.show()
client2.show()
client3.show()

===== 고객 정보 =====
고객 번호: 1
이름: 홍길동
나이: 20
성별: 남성
고객 점수: 1200
===== 고객 정보 =====
고객 번호: 2
이름: 김순자
나이: 21
성별: 여성
고객 점수: 300
===== 고객 정보 =====
고객 번호: 3
이름: 임꺽정
나이: 23
성별: 남성
고객 점수: 700

In [ ]:
client_list = [client1, client2, client3]

result = sorted(client_list, key=lambda x: x.point, reverse=True)
for client in result:
    client.show()

===== 고객 정보 =====
고객 번호: 1
이름: 홍길동
나이: 20
성별: 남성
고객 점수: 1200
===== 고객 정보 =====
고객 번호: 3
이름: 임꺽정
나이: 23
성별: 남성
고객 점수: 700
===== 고객 정보 =====
고객 번호: 2
이름: 김순자
나이: 21
성별: 여성
고객 점수: 300

In [ ]:
client_list = [client1, client2, client3]

result = sorted(client_list, reverse=True)
for client in result:
    client.show()

===== 고객 정보 =====
고객 번호: 1
이름: 홍길동
나이: 20
성별: 남성
고객 점수: 1200
===== 고객 정보 =====
고객 번호: 3
이름: 임꺽정
나이: 23
성별: 남성
고객 점수: 700
===== 고객 정보 =====
고객 번호: 2
이름: 김순자
나이: 21
성별: 여성
고객 점수: 300

* 클래스의 <b>상속(inheritance)</b>은 체계적인 프로그램 개발을 위해 필요하다.
* 예를 들어 학교 관리 프로그램에서는 선생님(teacher)과 학생(student)에 대한 정보가 모두 활용된다.
  * 이들은 <b>공통적으로</b> 이름(name), 나이(age) 등의 정보를 가지고 있다.
  * 또한, 인적사항 정보를 출력하는 메서드를 둘 다 사용한다.
* 상속을 사용하여, 공통적으로 사용되는 변수를 매번 선언하지 않는다.

In [ ]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show_human(self):
        print("===== 인적 사항 =====")
        print(f"이름: {self.name}")
        print(f"나이: {self.age}")

* 교사 클래스가 사람 클래스에 대한 정보를 상속 받기 위해서는
상속을 진행해야 한다.
* 기본적인 형식은 바로 다음과 같다.

<pre>
class 자식 클래스 이름(부모 클래스 이름):
    pass
</pre>

* <b>super()</b>는 부모 클래스의 속성 및 메서드를 가져와야 할 때 사용할 수 있다.
* <b>super.__init__() 메서드</b>를 호출하면, 이것은 부모 클래스에서 정의되어 있던 생성자를 사용한다는 의미다.

In [ ]:
class Teacher(Human):
    def __init__(self, name, age, teacher_id, subject, salary):
        super().__init__(name, age)
        self.teacher_id = teacher_id
        self.subject = subject
        self.salary = salary

    def show_teacher(self):
        print("===== 교직원 카드 =====")
        print(f"교직원 번호: {self.teacher_id}")
        print(f"담당 과목: {self.subject}")
        print(f"월급: {self.salary}")


teacher = Teacher("김순자", 40, 1, "사회", 450)
teacher.show_human()
teacher.show_teacher()

===== 인적 사항 =====
이름: 김순자
나이: 40
===== 교직원 카드 =====
교직원 번호: 1
담당 과목: 사회
월급: 450

In [ ]:
class Student(Human):
    def __init__(self, name, age, student_id, grade, score):
        super().__init__(name, age)
        self.student_id = student_id
        self.grade = grade
        self.score = score

    def show_student(self):
        print("===== 학생 카드 =====")
        print(f"학생 번호: {self.student_id}")
        print(f"학년: {self.grade}")
        print(f"점수: {self.score}")


student = Student("홍길동", 18, 1, 2, 95)
student.show_human()
student.show_student()

===== 인적 사항 =====
이름: 홍길동
나이: 18
===== 학생 카드 =====
학생 번호: 1
학년: 2
점수: 95

* 실제로 머신러닝 분야에서 <b>TensorFlow</b>와 <b>PyTorch</b> 프레임워크를 사용할 때는 다양한 클래스를 <b>상속</b> 받아 사용할 수 있다.
* 따라서, 다양한 머신러닝 모델을 정의하고 학습을 진행하기 위해 클래스(class)에 대한 개념 숙지가 필수적이다.
* 다양한 기능이 라이브러리 형태(클래스 형태)로 제공되기 때문에, 상속을 받아 사용하는 것이 일반적이다.
  * 일반적으로 기본 라이브러리의 코드(부모 클래스)를 직접적으로 수정하지 않는다.
  * 우리가 만들 머신러닝 프로그램에 맞게 적절히 상속 받아 사용한다.

### <b>14강 파이썬(Python) 예외 처리</b>

* 예외(exception)란, 코드 실행 도중에 발생하는 오류(error)로 이해할 수 있다.
* 예를 들어 0으로 나누는 연산은 수행 불가능하다.
  * <b>ZeroDivisionError</b>: 0으로 나누었을 때 발생하는 오류

In [ ]:
x = 10
# print(x / 0) # 오류 발생

* 예외에는 다양한 종류가 있다.
* 존재하지 않는 <b>인덱스(index)</b>에 접근할 때 오류가 발생한다.

In [ ]:
arr = [7, 5, 3]
# print(arr[5]) # 6번째 원소 출력

* 기본적으로 예외가 발생하면, 프로그램 실행이 중단된다.
* <b>예외 처리</b>란, 프로그램의 예외를 처리하는 것을 말한다.
  * 예외가 발생하더라도, 프로그램이 종료되지 않도록 처리할 수 있다.
* 예외 처리의 기본적인 형태는 다음과 같다.

<pre>
try:
    기본적으로 실행할 코드
except:
    예외가 발생했을 때 실행할 코드
</pre>

* 앞서 0으로 나눌 때 발생하는 예외를 처리할 수 있다.
* 예외가 발생하는 순간, 코드 실행이 중단되며, except 블록으로 이동하여 코드를 실행한다.
* 아래 예시에서는 print() 구문이 실행되지 않는다.

In [ ]:
try:
    x = 10
    result = 10 / 0
    print(result)
except:
    print("예외 발생")

예외 발생

* 모든 오류에 대하여 처리하는 것이 아니라, <b>특정한 오류를 처리</b>할 수 있다.
* 다음과 같이 원하는 <b>예외 이름</b>에 대하여 처리할 수 있다.

<pre>
try:
    기본적으로 실행할 코드
except 예외명:
    예외가 발생했을 때 실행할 코드
</pre>

* <b>구체적인 예외(exception)</b> 오류 메시지를 출력해 보자.
* 예외가 발생했을 때, except 구문에서 구체적인 오류 메시지를 처리할 수 있다.

In [ ]:
arr = [7, 5, 3]
index = 10

try:
    data = arr[index]
    print(data)
except IndexError as e:
    print("배열의 크기를 벗어난 인덱스에 접근할 수 없습니다.")
    print("[오류 메시지]")
    print(e)

배열의 크기를 벗어난 인덱스에 접근할 수 없습니다.
[오류 메시지]
list index out of range

* 특정한 인덱스의 원소를 $x$로 나눈 결과를 출력하고자 한다.
  * 실제로 존재하지 않는 데이터에 접근하려고 하면 오류가 발생한다.
  * 0으로 나누려고 하면 오류가 발생한다.

In [ ]:
data_list = [1, 2, 3, 4, 5]
index = 3
x = 0

try:
    data = data_list[index]
    result = data / x
    print(result)
except IndexError as e:
    print("배열의 크기를 벗어난 인덱스에 접근할 수 없습니다.")
    print("[오류 메시지]")
    print(e)
except ZeroDivisionError as e:
    print("0으로 나눌 수 없습니다.")
    print("[오류 메시지]")
    print(e)

0으로 나눌 수 없습니다.
[오류 메시지]
division by zero

* 머신러닝 프로그램을 작성할 때 다양한 예외가 발생할 수 있다.
* 특히 입력과 출력의 <b>차원(dimension)이 일치하지 않아서</b> 머신러닝 모델 연산 수행 과정에서 오류가 발생할 수 있다.
* 존재하지 않거나, 잘못된 데이터를 불러오려고 할 때 오류가 발생할 수 있다.